<div class="container">

<div class="row">
	<div class="col-md-6">
		<h1>Edit Pin</h1>
		<%= render 'form', pin: @pin %>
	</div>
</div>

		<%= link_to 'Mostrar', @pin %> |
		<%= link_to 'Atras', pins_path %>
</div>