<div class="container">
  <h1>MARIA TERESA "Pinterest"
  <img src="https://s-media-cache-ak0.pinimg.com/564x/d3/54/61/d354617f7477b378742178c9fafe12f2.jpg"
       style="width:30px"></h1>
</div>
<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">BIENVENIDOS A MI PÁGINA</h1>
    <p class="lead">THE BEST BIKERS</p>
    </p>
  </div>
</div>

<div class="container">
  <br>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <div class="page-header">
        <h1>"BIKER" TU MEJOR OPCIÓN EN MOTOS</h1><br>
      </div>
      <p>  
        Cada Culto tiene su propio idioma y los motociclistas manejamos un lenguaje que muchas veces solo nosotros entendemos, porque por más que nos esforzamos en explicarle a alguien lo que se siente estar en una moto, el aprendizaje, la libertad o la sensación, pocos entienden de que hablamos. Así que en esta ocasión hicimos unas postales para poder ejemplificar un poco esto que vivimos cuando estamos en la moto… Es como si supiéramos que si todos manejáramos moto, el mundo pudiera mejorar considerablemente, sólo por que vivir felices nos hace querer ser mejores personas. ¡Aquí les dejamos unas frases!
      </p>
    </div>

    <div class="col-md-4">
      <div class="page-header">
        <h1> Ruby <small><br> Contacto </small></h1>
        <img src="https://www.pasionbiker.com/wp-content/uploads/2016/01/logosombra.png",  style="width:90px" class="img-responsive">
      </div>
      <p>  Este proyecto pinterest de Materia: "DESARROLLO DE APLICACIONES WEB". 
      Profesor: Anastacio Rodríguez García Alumna: María Teresa Martínez García
      Grupo: GITI8113-S unidad: 2 ARQUITECTURA DE LA iNFORMACIÓN. 
      E-mmail: mmariateresa4@gmail.com
      </p>
    </div>
      <div class="col-md-4">
        <div class="page-header">
          <h1> Rails<small><br> Frases Biker</small></h1>
          <img src="http://www.metaleros.club/imagenes-de-motos-con-frases/motos-frases-amor/",  style="width:90px" class="img-responsive">
        </div>
        <p> Puedes confiar en un biker, porque dice lo que piensa y hace lo que siente Cualquier persona que vive con pasión, que confía en lo que piensa y siente, seguro es alguien en quien puedes confiar. Eso es algo que los bikers sabemos.

        </p>

        <p> No importa la moto que conduzcas, importa la manera de vivirla.
        Tenemos un profundo respeto por el gusto de cada Motociclista, entendemos que una moto muchas veces la definen el peso, la altura, el gusto o alguna buena razón. Sólo importa que sea moto!
        </p>
 
      </div>
    </div>
  </div>